In [37]:
import pandas as pd
from future_encoders import OrdinalEncoder, OneHotEncoder

In [38]:
df = pd.read_csv('housing.csv')

In [39]:
df.head()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
0,-122.23,37.88,41.0,880.0,129.0,322.0,126.0,8.3252,452600.0,NEAR BAY
1,-122.22,37.86,21.0,7099.0,1106.0,2401.0,1138.0,8.3014,358500.0,NEAR BAY
2,-122.24,37.85,52.0,1467.0,190.0,496.0,177.0,7.2574,352100.0,NEAR BAY
3,-122.25,37.85,52.0,1274.0,235.0,558.0,219.0,5.6431,341300.0,NEAR BAY
4,-122.25,37.85,52.0,1627.0,280.0,565.0,259.0,3.8462,342200.0,NEAR BAY

In [40]:
X = df.values

In [41]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20640 entries, 0 to 20639
Data columns (total 10 columns):
longitude             20640 non-null float64
latitude              20640 non-null float64
housing_median_age    20640 non-null float64
total_rooms           20640 non-null float64
total_bedrooms        20433 non-null float64
population            20640 non-null float64
households            20640 non-null float64
median_income         20640 non-null float64
median_house_value    20640 non-null float64
ocean_proximity       20640 non-null object
dtypes: float64(9), object(1)
memory usage: 1.6+ MB

In [42]:
cols = df.columns
num_cols = df._get_numeric_data().columns

In [43]:
cat_cols = list(set(cols) - set(num_cols))

In [51]:
num_df = df[num_cols]

In [52]:
cat_df = df[cat_cols]

In [56]:
cat_df

      ocean_proximity
0            NEAR BAY
1            NEAR BAY
2            NEAR BAY
3            NEAR BAY
4            NEAR BAY
5            NEAR BAY
6            NEAR BAY
7            NEAR BAY
8            NEAR BAY
9            NEAR BAY
10           NEAR BAY
11           NEAR BAY
12           NEAR BAY
13           NEAR BAY
14           NEAR BAY
15           NEAR BAY
16           NEAR BAY
17           NEAR BAY
18           NEAR BAY
19           NEAR BAY
20           NEAR BAY
21           NEAR BAY
22           NEAR BAY
23           NEAR BAY
24           NEAR BAY
25           NEAR BAY
26           NEAR BAY
27           NEAR BAY
28           NEAR BAY
29           NEAR BAY
...               ...
20610          INLAND
20611          INLAND
20612          INLAND
20613          INLAND
20614          INLAND
20615          INLAND
20616          INLAND
20617          INLAND
20618          INLAND
20619          INLAND
20620          INLAND
20621          INLAND
20622          INLAND
20623          INLAND
20624          INLAND
20625          INLAND
20626          INLAND
20627          INLAND
20628          INLAND
20629          INLAND
20630          INLAND
20631          INLAND
20632          INLAND
20633          INLAND
20634          INLAND
20635          INLAND
20636          INLAND
20637          INLAND
20638          INLAND
20639          INLAND

[20640 rows x 1 columns]

In [53]:
X

array([[-122.23, 37.88, 41.0, ..., 8.3252, 452600.0, 'NEAR BAY'],
       [-122.22, 37.86, 21.0, ..., 8.3014, 358500.0, 'NEAR BAY'],
       [-122.24, 37.85, 52.0, ..., 7.2574, 352100.0, 'NEAR BAY'],
       ...,
       [-121.22, 39.43, 17.0, ..., 1.7, 92300.0, 'INLAND'],
       [-121.32, 39.43, 18.0, ..., 1.8672, 84700.0, 'INLAND'],
       [-121.24, 39.37, 16.0, ..., 2.3886, 89400.0, 'INLAND']],
      dtype=object)

In [54]:
def cat_to_num(df,ch):
    if ch==1:                                                                    # Ordinal/Label encoding
        ordinal_encoder = OrdinalEncoder()
        df_encoded = ordinal_encoder.fit_transform(df)
        return df_encoded
    elif ch==2:
        onehot_encoder = OneHotEncoder(sparse=False)
        df_1hot = onehot_encoder.fit_transform(df)
        return df_1hot

In [58]:
cat_to_num(cat_df,1)

array([[3.],
       [3.],
       [3.],
       ...,
       [1.],
       [1.],
       [1.]])

In [59]:
cat_to_num(cat_df,2)

array([[0., 0., 0., 1., 0.],
       [0., 0., 0., 1., 0.],
       [0., 0., 0., 1., 0.],
       ...,
       [0., 1., 0., 0., 0.],
       [0., 1., 0., 0., 0.],
       [0., 1., 0., 0., 0.]])