In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('housing.csv')

In [15]:
df.info(verbose=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20640 entries, 0 to 20639
Data columns (total 10 columns):
longitude             20640 non-null float64
latitude              20640 non-null float64
housing_median_age    20640 non-null float64
total_rooms           20640 non-null float64
total_bedrooms        20433 non-null float64
population            20640 non-null float64
households            20640 non-null float64
median_income         20640 non-null float64
median_house_value    20640 non-null float64
ocean_proximity       20640 non-null object
dtypes: float64(9), object(1)
memory usage: 1.6+ MB

In [6]:
f = open('tp45.csv','w')
df.info(buf=f)
f.close()

In [7]:
import io
buffer = io.StringIO()
df.info(buf=buffer)
s = buffer.getvalue()
s

"<class 'pandas.core.frame.DataFrame'>\nRangeIndex: 20640 entries, 0 to 20639\nData columns (total 10 columns):\nlongitude             20640 non-null float64\nlatitude              20640 non-null float64\nhousing_median_age    20640 non-null float64\ntotal_rooms           20640 non-null float64\ntotal_bedrooms        20433 non-null float64\npopulation            20640 non-null float64\nhouseholds            20640 non-null float64\nmedian_income         20640 non-null float64\nmedian_house_value    20640 non-null float64\nocean_proximity       20640 non-null object\ndtypes: float64(9), object(1)\nmemory usage: 1.6+ MB\n"

In [17]:
tp = s.strip('\n').split('\n')[3:-2]

In [18]:
for i in range(len(tp)):
    tp45 = tp[i].strip().split()
    tp[i] = tp45[:2] + tp45[3:]
tp

[['longitude', '20640', 'float64'],
 ['latitude', '20640', 'float64'],
 ['housing_median_age', '20640', 'float64'],
 ['total_rooms', '20640', 'float64'],
 ['total_bedrooms', '20433', 'float64'],
 ['population', '20640', 'float64'],
 ['households', '20640', 'float64'],
 ['median_income', '20640', 'float64'],
 ['median_house_value', '20640', 'float64'],
 ['ocean_proximity', '20640', 'object']]

In [27]:
df25 = pd.DataFrame(data=tp,columns=["Feature","Non-null values","Dtype"],index=np.arange(1, len(df25)+1))
df25

               Feature Non-null values    Dtype
1            longitude           20640  float64
2             latitude           20640  float64
3   housing_median_age           20640  float64
4          total_rooms           20640  float64
5       total_bedrooms           20433  float64
6           population           20640  float64
7           households           20640  float64
8        median_income           20640  float64
9   median_house_value           20640  float64
10     ocean_proximity           20640   object

In [25]:
import numpy as np
df25.to_csv('info.csv')

In [43]:
df25.columns.values

array(['Feature', 'Non-null values', 'Dtype'], dtype=object)

In [45]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20640 entries, 0 to 20639
Data columns (total 10 columns):
longitude             20640 non-null float64
latitude              20640 non-null float64
housing_median_age    20640 non-null float64
total_rooms           20640 non-null float64
total_bedrooms        20433 non-null float64
population            20640 non-null float64
households            20640 non-null float64
median_income         20640 non-null float64
median_house_value    20640 non-null float64
ocean_proximity       20640 non-null object
dtypes: float64(9), object(1)
memory usage: 1.6+ MB

In [49]:
df.head().to_csv('head.csv')